// DEFAULT VARIABLES

// Body
$body-bg: #f2f2f2;
$component-bg: #ffff;

// Typography
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$radius: .25rem;
$item-margin: .5rem;
$component-margin: 2rem auto;


// Colors
$primary: #089d11;
$secondary: #fec400;
$warning: #fec400;

$border-color: #0000001c;
// Colors - buttons
// $button-accept: ;
// $button-decline: ;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;

$theme-colors: (
        "primary": $primary
);

// aside
$aside-width: 11rem;










